.mainIndex {
    @include allCentro;

    /* cuerpo */
    .calcuCuerpo {
        border: 1px solid red;

        width: 60vw;
        height: 80vh;

        border-radius: 20px;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        padding: 2%;
        gap: 4%;

        /* cabeza */
        .calcuCabeza {
            border: 1px solid red;

            width: 100%;
            height: 20%;

            @include allCentro;
            flex-direction: row;
            gap: 10%;

            .calcuHoraYFecha {
                border: 1px solid red;
                width: 30%;
                height: 90%;
                @include allCentro;

                .calcuHoraYFechaContent{
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 5%;
                }

            }

            .calcuAutor {
                border: 1px solid red;
                width: 30%;
                height: 90%;
                @include allCentro;

                .calcuAutorContent{
                    text-align: center;
                    font-size: 1.1rem;
                    margin-top: 5%;
                }
            }
        }

        /* barra */
        .calcuBarra {
            border: 1px solid red;

            width: 100%;
            height: 20%;
            border-radius: 15px;

            display: flex;
            align-items: center;
            justify-content: end;

            font-size: 2.0rem;
            padding-right: 2%;


        }

        /* teclado */
        .calcuTeclado {
            border: 1px solid red;

            width: 100%;
            height: 70%;

            border-radius: 15px;

            .calcuTecladoSub {
                .calcuTecladoSub1 {
                    .calcuTecladoSub2 {
                        .calcuTecladoSub3 {
                            .calcuTecladoContenido {
                                @include allCentro;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }
    }
}